<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% endblock %}
</head>
<body>
    <h1 class="header"><strong>Witaj na mojej stronie domowej</strong></h1>
    <img class="smile" src="https://i.postimg.cc/wBnWRMv3/pexels-tara-winstead-6489501.jpg" alt="smile" title="fruits-smile">
    {% block content %}
    {% endblock %}
</body>
</html>